{% extends "leaderboards/base.html" %}

{% block content %}
<!-- Moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<!-- Chart.js v2 and its Moment.js adapter -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>

<canvas id="hourlyPlayerCountGraph" width="400" height="200"></canvas>

<script>
    fetch('/leaderboards/api/hourly-player-count/')
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('hourlyPlayerCountGraph').getContext('2d');

            const originalLabels = data.map(entry => moment.utc(entry.timestamp_hour).local().format('MMM D, YYYY h:mm A z'));  // Convert UTC to local time and format it
            const originalCumulativeValues = data.map(entry => entry.player_count);

            const tempLabels = [];
            const tempCumulativeValues = [];
            const tempHourlyValues = [];

            for (let i = 0; i < originalCumulativeValues.length; i++) {
                if (i == 0) {
                    tempHourlyValues.push(originalCumulativeValues[i]);
                    tempLabels.push(originalLabels[i]);
                    tempCumulativeValues.push(originalCumulativeValues[i]);
                } else {
                    let diff = originalCumulativeValues[i] - originalCumulativeValues[i - 1];
                    // If the difference is not negative (indicating a reset), push the values to the temporary arrays
                    if (diff >= 0) {
                        tempHourlyValues.push(diff);
                        tempLabels.push(originalLabels[i]);
                        tempCumulativeValues.push(originalCumulativeValues[i]);
                    }
                }
            }

            // Print values to console for inspection
            console.log("Cumulative Values:", tempCumulativeValues);
            console.log("Hourly Values:", tempHourlyValues);

            const chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: tempLabels,
                    datasets: [{
                        label: 'Cumulative Hourly Player count',
                        data: tempCumulativeValues,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        fill: false,
                        hidden: true
                    }, {
                        label: 'Hourly Player count',
                        data: tempHourlyValues,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'hour',
                                displayFormats: {
                                    hour: 'MMM D, YYYY h:mm A z'  // Display time in 12-hour format with human-friendly timezone
                                },
                                tooltipFormat: 'MMM D, YYYY h:mm A z'  // Tooltip format
                            },
                            distribution: 'linear'
                        }
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                        callbacks: {
                            label: function(tooltipItem, data) {
                                var label = data.datasets[tooltipItem.datasetIndex].label || '';
                                
                                if (label) {
                                    label += ': ';
                                }
                                label += tooltipItem.yLabel;
                                
                                if (tooltipItem.datasetIndex === 0) {
                                    const delta = tooltipItem.index === 0 ? 0 : data.datasets[0].data[tooltipItem.index] - data.datasets[0].data[tooltipItem.index - 1];
                                    label += ` (Δ: ${delta})`;
                                }
                                
                                return label;
                            }
                        }
                    }
                }
            });
        });
</script>
{% endblock %}
