{% extends 'leaderboards/base.html' %}
{% load custom_filters %}
{% block content %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EQG3BMRF63"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-EQG3BMRF63');
    </script>
<div class="text-start">
    <img src="https://chivstats.xyz/static/chivstats-castle500.png"><br>
    <h2> Chivalry 2 Statistics & Leaderboards</h2>
    <p>
        <br>
        Most Recent Update: {{ latest_update|date:"F j, Y" }}<br><br>
        Chivalry 2 Unique Players: {{ latest_entry.unique_players|format_with_commas }}<br>
        Recent Daily unique player count: {{ latest_entry.daily_players|format_with_commas }}<br>                  
        <br>
        This site presents player statistics derived from official Chivalry 2 server sources. The gathering process is
        time-consuming and updates are done in batches. Please note that the available data is limited and certain
        restrictions apply. At present, updates are <b>~daily</b> targeted at <b>100,000</b> top players..
        <br><br>
        Assistance with the web frontend and the creation of an aesthetically pleasing UI would be appreciated. If you
        or someone you know possesses the required skills, please reach out.
        <br><br>
        - Gimmic
        <br><br><br>
    </p>

    <h2 class="mb-3" style="color: #007bff;">Changelog</h2>
    <ul class="list-group">
         {% for news_entry in news %}
        <li class="list-group-item" style="border-left: 4px solid #007bff; padding-left: 20px;">
            <span style="font-weight: bold; color: #007bff;">{{ news_entry.date|date:"Y-m-d"}}</span> {{news_entry.content|safe}}</li>
        {% endfor %}
    </ul>
    <br>
    <br>
    Todo: <br>
    - theme/styling/graphics.<br>
    - improved search features.<br>
    - histogram/changes-over-time.<br>
    - Top N multiview leaderboards.<br>
    - Datapoint/serial browser.<br>

</div>
{% endblock %}

