{% extends 'leaderboards/base.html' %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EQG3BMRF63"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EQG3BMRF63');
</script>

{% block content %}
<h1>{{ leaderboard_name }}</h1>
<br>
<p>Latest update: {{ latest_update|date:"F j, Y, P T" }}</p>
<br>

<form method="get" action="">
    <label for="recent_players">Show only recent players(Since 2.9 Patch on 2023/11/07):</label>
    <input type="checkbox" id="recent_players" name="recent_players" {% if show_recent_players %}checked{% endif %}>
    <input type="submit" value="Update">
</form>

<!-- Search form -->
<form method="GET" action="{% url 'leaderboards:leaderboard' leaderboard_name_url %}">
    <div class="input-group mb-3">
        <input type="text" class="form-control custom-input" name="search_query" placeholder="Enter player name" value="{{ search_query }}">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </div>
    </div>
</form>

<br>
{% if search_query and player_position %}
    <p>Your position: {{ player_position }}</p>
{% endif %}
<br>

<!-- Button for Copying to Clipboard -->
<button id="copyToClipboard" class="btn btn-primary">Copy Selected IDs to Clipboard</button>

<!-- Button for Sending to Progress Charting -->
<button id="sendToProgressCharting" class="btn btn-success">Send to Progress Charting</button>
<button id="selectAll" class="btn btn-secondary">Select All</button>

<!-- Pagination at the top -->
<div class="d-flex justify-content-center">
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info" href="?page=1">First</a>
        <a class="btn btn-outline-info" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <span class="current-page d-inline-block h-100 pl-4 text-secondary"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
        <a class="btn btn-outline-info" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
</div>

<table class="table table-striped" id="leaderboardTable">
    <thead>
        <tr>
            <th style="width: 30px;">Select</th> <!-- Static width for checkbox column -->
            <th style="width: 50px;">Position</th>
            <th style="width: 300px;">Display Name</th>
            <th>Stat Value</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in page_obj %}
            <tr>
                <td>
                    <!-- Checkbox for each player -->
                    <input type="checkbox" class="player-checkbox" data-playfabid="{{ entry.playfabid.playfabid }}">
                </td>
                <td>
                    {% if search_query and player_position %}
                        {% if entry.rank == player_position %}
                            {{ player_position }}
                        {% else %}
                            {{ forloop.counter|add:page_obj.start_index|add:"-1" }}
                        {% endif %}
                    {% else %}
                        {{ forloop.counter|add:page_obj.start_index|add:"-1" }}
                    {% endif %}
                </td>
                <td class="displayName">
                    <a href="{% url 'leaderboards:player_profile' entry.playfabid.playfabid %}">
                        {{ entry.playfabid.most_common_alias }}
                    </a>
                </td>
                <td>{{ entry.stat_value }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Pagination at the bottom -->
<div class="d-flex justify-content-center">
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info" href="?page=1">First</a>
        <a class="btn btn-outline-info" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <span class="current-page d-inline-block h-100 pl-4 text-secondary"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
        <a class="btn btn-outline-info" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
</div>

<script>
    document.getElementById('copyToClipboard').addEventListener('click', function() {
        const selectedCheckboxes = document.querySelectorAll('.player-checkbox:checked');
        const playfabIds = Array.from(selectedCheckboxes).map(cb => cb.getAttribute('data-playfabid'));
        const playfabIdString = playfabIds.join(','); // No space after comma

        navigator.clipboard.writeText(playfabIdString).then(function() {
            alert('Copied to clipboard: ' + playfabIdString);
        }, function(err) {
            console.error('Could not copy text: ', err);
        });
    });

    document.getElementById('sendToProgressCharting').addEventListener('click', function() {
        const selectedCheckboxes = document.querySelectorAll('.player-checkbox:checked');
        const playfabIds = Array.from(selectedCheckboxes).map(cb => cb.getAttribute('data-playfabid'));
        const playfabIdString = playfabIds.join('%2C'); // Encoded comma for URL
        const url = `https://chivstats.xyz/leaderboards/player_progress/?playfabids=${playfabIdString}`;
        window.location.href = url;
    });
    document.getElementById('selectAll').addEventListener('click', function() {
        const checkboxes = document.querySelectorAll('.player-checkbox');
        checkboxes.forEach(cb => cb.checked = true);
    });
</script>

{% endblock %}
