{% extends 'leaderboards/base.html' %}

{% block content %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EQG3BMRF63"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-EQG3BMRF63');
    </script>
    <h1>Player Search</h1><br>
    Search the known players data for a player name. This query may take a little while, be patient.<br>
    Click on the player's ID to view their profile.<br><br>Three character minimum.<br>
    <form method="GET" action="{% url 'leaderboards:player_search' %}">
        <input type="text" name="search_query" placeholder="Enter player name">
        <button type="submit">Search</button>
    </form>

    <!-- Buttons for actions -->
    <button id="copyToClipboard" class="btn btn-primary">Copy Selected IDs to Clipboard</button>
    <button id="sendToProgressCharting" class="btn btn-success">Send to Progress Charting</button>

    {% if players %}
        <h2>Search Results</h2>
        {% for player in players %}
            <div>
                <!-- Checkbox for each player -->
                <input type="checkbox" class="player-checkbox" data-playfabid="{{ player.playfabid }}">
                <a href="{% url 'leaderboards:player_profile' player.playfabid %}">{{ player.playfabid }}</a> - {{ player.name }}
            </div>
        {% endfor %}
    {% else %}
        <p>No players found.</p>
    {% endif %}

    <script>
        document.getElementById('copyToClipboard').addEventListener('click', function() {
            const selectedCheckboxes = document.querySelectorAll('.player-checkbox:checked');
            const playfabIds = Array.from(selectedCheckboxes).map(cb => cb.getAttribute('data-playfabid'));
            const playfabIdString = playfabIds.join(',');
            navigator.clipboard.writeText(playfabIdString).then(function() {
                alert('Copied to clipboard: ' + playfabIdString);
            }, function(err) {
                console.error('Could not copy text: ', err);
            });
        });

        document.getElementById('sendToProgressCharting').addEventListener('click', function() {
            const selectedCheckboxes = document.querySelectorAll('.player-checkbox:checked');
            const playfabIds = Array.from(selectedCheckboxes).map(cb => cb.getAttribute('data-playfabid'));
            const playfabIdString = playfabIds.join('%2C');
            const url = `https://chivstats.xyz/leaderboards/player_progress/?playfabids=${playfabIdString}`;
            window.location.href = url;
        });
    </script>
{% endblock %}
