{% extends 'leaderboards/base.html' %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container mt-4">
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">{{ player.alias_recent }} - Player Profile</h1>
            <h6 class="card-text"><strong>Recently Seen As: {{ player.alias_recent }}</strong></h6>
            <p class="card-text">Historical Frequency name: {{ player.most_common_alias }}</p>
            <p class="card-text">Name History:</p> <!-- Adjust the class if needed -->
            <ul>
                {% for alias in aliases %}
                    <li>{{ alias }}</li>
                {% endfor %}
            </ul>
            <p class="card-text"><strong>Last Seen Playing:</strong> {{ last_seen_serial|date:"F j, Y" }}</p>
            <p class="text-muted"><strong>Playfab ID:</strong> {{ player.playfabid }}</p>
        </div>
    </div>

    {% if ranked_data %}
    <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-title">Ranked Player Details</h2>
            <p class="card-text">Duels ELO Rating: {{ ranked_data.elo_rating }} (#{{ ranked_data.elo_rank }})</p>
            <p class="card-text">Matches: {{ ranked_data.matches }} (#{{ ranked_data.matches_rank }})</p>
            <p class="card-text">KDR: #{% if ranked_data.kdr_rank != 'N/A' %}{{ ranked_data.kdr_rank }}{% else %}N/A{% endif %}</p>
            <p class="card-text">Kills: {{ ranked_data.kills }} (#{{ ranked_data.kills_rank }})</p>
            <p class="card-text">Deaths: {{ ranked_data.deaths }} (#{{ ranked_data.deaths_rank }})</p>
        </div>
    </div>
    {% endif %}

    <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-title">Leaderboards</h2>
            <table class="table table-striped table-sm" id="leaderboardTable">
                <thead>
                    <tr>
                        <th onclick="sortTable('leaderboardTable', 0, 'string')">Leaderboards <i class="bi bi-arrow-down-up"></i></th>
                        <th onclick="sortTable('leaderboardTable', 1, 'numeric')">Rank <i class="bi bi-arrow-down-up"></i></th>
                        <th onclick="sortTable('leaderboardTable', 2, 'numeric')">Value <i class="bi bi-arrow-down-up"></i></th>
                        <th onclick="sortTable('leaderboardTable', 3, 'numeric')">Level <i class="bi bi-arrow-down-up"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in leaderboard_data|dictsort:'rank' %}
                        <tr>
                            <td>{{ entry.title }}</td>
                            <td>{% if entry.rank %}{{ entry.rank }}{% else %}N/A{% endif %}</td>
                            <td>{% if entry.rank %}{{ entry.stat_value }}{% else %}-{% endif %}</td>
                            <td>{{ entry.level }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-title">Playtime History</h2>
            <canvas id="playtimeChart" style="max-width: 600px; max-height: 400px;"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Get the playtime data from Django context
    var playtimeData = [
        {% for entry in playtime_data %}
            { date: "{{ entry.date }}", playtime: {{ entry.playtime }} },
        {% endfor %}
    ];

    // Extract the dates and playtimes into separate arrays
    var dates = playtimeData.map(function(entry) {
        return entry.date;
    });

    var playtimes = playtimeData.map(function(entry) {
        return entry.playtime;
    });

    // Create a bar chart using Chart.js
    var ctx = document.getElementById('playtimeChart').getContext('2d');
    new Chart(ctx, {
    type: 'bar',
    data: {
        labels: dates,
        datasets: [{
            label: 'Playtime',
            data: playtimes,
            backgroundColor: 'rgba(75, 192, 192, 0.6)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: true, // Add this line
        scales: {
            x: {
                grid: {
                    display: false
                }
            },
            y: {
                beginAtZero: true,
                ticks: {
                    precision: 0
                },
                maxTicksLimit: 5
            }
        },
        plugins: {
            legend: {
                display: false
            }
        },
        layout: {
            padding: {
                top: 10,
                right: 10,
                bottom: 10,
                left: 10
            }
        }
    }
});
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">

<script>
    function sortTable(tableId, columnIndex, dataType) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById(tableId);
        switching = true;
        dir = "asc";

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[columnIndex];
                y = rows[i + 1].getElementsByTagName("TD")[columnIndex];

                if (dataType === 'numeric') {
                    // For numeric sorting
                    if (dir == "asc") {
                        if (parseFloat(x.innerHTML) > parseFloat(y.innerHTML)) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (parseFloat(x.innerHTML) < parseFloat(y.innerHTML)) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                } else {
                    // For string sorting (default)
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;      
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>

{% endblock %}
