{% extends "leaderboards/base.html" %}
{% block content %}

<!-- Include Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>


<!-- Form for Table Name and PlayFab IDs Input -->
<form action="" method="get">
    <!-- Dropdown for Table Names -->
    <label for="table_name">Leaderboard:</label>
    <select name="table_name" id="table_name">
        {% for table in valid_table_names %}
        <option value="{{ table }}" {% if table == table_name %}selected{% endif %}>{{ table }}</option>
        {% endfor %}
    </select>
    <br> <!-- New line for PlayFab IDs input -->
    <!-- Input for PlayFab IDs -->
    <label for="playfabids">Filter by Playerids:</label>
    <input type="text" id="playfabids" name="playfabids" placeholder="Blank for top Leaderboard, or comma-separated playerids(id1,id2,id3)" style="width: calc(80% - 20px);" {% if playfab_ids_input %}value="{{ playfab_ids_input }}"{% else %}value=""{% endif %}>
    <br><button type="submit">SUBMIT</button>
    <button type="reset" id="resetForm">Reset</button>
</form>

{{ data|json_script:"groupedData" }}
<canvas id="playerProgressChart" width="700" height="380"></canvas>
<button id="deselectAll">Deselect All</button>
<button id="selectAll">Select All</button>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var ctx = document.getElementById('playerProgressChart').getContext('2d');
    
    var groupedData = JSON.parse(document.getElementById('groupedData').textContent);
    console.log('groupedData:', groupedData); // Add this line to log groupedData

    var datasets = [];
    var labelsSet = new Set();
        // Function to generate distinct colors
        function generateColor(index, total) {
            var hue = index * (360 / total);
            return `hsl(${hue}, 100%, 50%)`;
        }

        var sortedData = Object.entries(groupedData).sort(function(a, b) {
    // Ensure both a[1] and b[1] are arrays before proceeding
    if (!Array.isArray(a[1]) || !Array.isArray(b[1])) {
        return 0; // or handle this case as you see fit
    }

    var totalA = a[1].reduce((acc, item) => acc + item.source_increment, 0);
    var totalB = b[1].reduce((acc, item) => acc + item.source_increment, 0);
    return totalB - totalA;
}).slice(0, 25);

sortedData.forEach(function([playerName, playerData], index) {
    // Check if playerData is an array
    if (!Array.isArray(playerData)) {
        console.error('playerData is not an array for player:', playerName, playerData);
        return; // Skip this iteration
    }

    playerData.forEach(item => labelsSet.add(item.date));
    datasets.push({
        label: playerName,
        data: playerData.map(item => item.source_increment),
        borderColor: generateColor(index, 25),
        fill: false
    });
});


        var labels = Array.from(labelsSet).sort();


        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: datasets
            },
            options: {
                onClick: function(evt, activeElements) {
                    if (activeElements.length > 0) {
                        var firstPoint = activeElements[0];
                        var label = this.data.datasets[firstPoint.datasetIndex].label;
                        // Update the player ID input field
                        document.getElementById('playfabids').value = label;
                    }
                },
                plugins: {
                    legend: {
                        position: 'bottom',
                        labels: {
                            boxWidth: 10, // Smaller legend box width
                            padding: 10   // Smaller padding around legend items
                        }
                    }
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                    callbacks: {
                        label: function(tooltipItem, data) {
                            var label = data.datasets[tooltipItem.datasetIndex].label || '';
                            if (label) {
                                label += ': ';
                            }
                            label += tooltipItem.yLabel;
                            return label;
                        }
                    }
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'day',
                            displayFormats: {
                                day: 'YYYY-MM-DD'
                            }
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        });

        // Function to toggle dataset visibility
        function toggleVisibility(hide) {
            chart.data.datasets.forEach(function(ds) {
                ds.hidden = hide;
            });
            chart.update();
        }

        // Attach event listeners to the buttons
        document.getElementById('deselectAll').addEventListener('click', function() {
            toggleVisibility(true);
        });
        document.getElementById('selectAll').addEventListener('click', function() {
            toggleVisibility(false);
        });

        // Reset form functionality
        document.getElementById('resetForm').addEventListener('click', function() {
            document.getElementById('playfabids').value = '';
            document.getElementById('table_name').selectedIndex = 0;
        });
    });
    document.addEventListener('DOMContentLoaded', function() {
        var table = document.getElementById('playersMaxGainTable');
        var lastSelectedRow = null;

        table.addEventListener('click', function(e) {
            var currentRow = e.target.parentNode;
            if (e.shiftKey && lastSelectedRow) {
                var start = currentRow.rowIndex;
                var end = lastSelectedRow.rowIndex;
                for (var i = Math.min(start, end); i <= Math.max(start, end); i++) {
                    table.rows[i].classList.toggle('selected', true);
                }
            } else if (e.ctrlKey || e.metaKey) {
                currentRow.classList.toggle('selected');
            } else {
                Array.from(table.rows).forEach(row => row.classList.remove('selected'));
                currentRow.classList.add('selected');
            }
            lastSelectedRow = currentRow;
            updateChartSelection();
        });

        function updateChartSelection() {
            var selectedPlayers = Array.from(table.getElementsByClassName('selected')).map(row => row.cells[1].textContent);
            chart.data.datasets.forEach(function(dataset) {
                dataset.hidden = !selectedPlayers.includes(dataset.label);
            });
            chart.update();
        }
    });
</script>

<style>
    #playersMaxGainTable {
        width: 100%;
        border-collapse: collapse;
    }
    #playersMaxGainTable th, #playersMaxGainTable td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    #playersMaxGainTable tr:nth-child(odd) {
        background-color: #f2f2f2;
    }
    #playersMaxGainTable tr:nth-child(even) {
        background-color: #ffffff;
    }
    #playersMaxGainTable th {
        background-color: #4CAF50;
        color: white;
    }
    .selected {
        background-color: #add8e6; /* Light blue background for selected rows */
    }
</style>

<!-- Data Table for Players Sorted by Highest Gain -->
<br><br>
Table is sortable and entries represent the player's single largest gain in a day, with their associated playtime increment..<br>
<table id="playersMaxGainTable" class="sortable">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player Name</th>
            <th>Date of big wins</th>
            <th>{{ table_name }} Increment amount</th>
            <th>Playtime amount</th>
        </tr>
    </thead>
    <tbody>
        {% for player, gain in max_gains %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ player }}</td>
            <td>{{ gain.date }}</td>
            <td>{{ gain.source_increment }}</td>
            <td>{{ gain.playtime_increment }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}