{% extends 'leaderboards/base.html' %}

{% block content %}
<style>
    .table {
        width: auto;
        border-collapse: collapse;
    }
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f2f2f2;
    }
    .table td, .table th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    .checkbox-column {
        width: 30px;
    }
    .playfabid-column {
        width: 200px;
    }
    .name-column {
        width: 300px;
    }
    .date-column {
        width: 200px;
    }
</style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EQG3BMRF63"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-EQG3BMRF63');
    </script>
    <h1>Player Search</h1><br>
    Search the known players data for a player name.<br>Click on the player's ID to view their profile.<br>
    <form method="GET" action="{% url 'leaderboards:player_search' %}">
        <input type="text" name="search_query" placeholder="Enter player name" value="{{ search_query }}">
        <button type="submit">Search</button>
        <button type="button" onclick="window.location.href='{% url 'leaderboards:player_search' %}';">Clear</button>
    </form>

    {% if players %}
        <br>
        <h2>Search Results</h2>
        <button id="copyToClipboard" class="btn btn-primary">Copy Selected IDs to Clipboard</button>
        <button id="sendToProgressCharting" class="btn btn-success">Send to Progress Charting</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="checkbox-column">📈</th>
                    <th class="name-column">Common Alias</th>
                    <th class="playfabid-column">Player ID</th>
                    <th class="date-column">Last Seen</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                    <tr>
                        <td><input type="checkbox" class="player-checkbox" data-playfabid="{{ player.playfabid }}"></td>
                        <td>{{ player.name }}</td>
                        <td><a href="{% url 'leaderboards:player_profile' player.playfabid %}">{{ player.playfabid }}</a></td>
                        <td>{{ player.last_seen }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}<br><br>
        <p>Three character minimum. No players found.</p>
    {% endif %}

    <script>
        document.getElementById('copyToClipboard').addEventListener('click', function() {
            const selectedCheckboxes = document.querySelectorAll('.player-checkbox:checked');
            const playfabIds = Array.from(selectedCheckboxes).map(cb => cb.getAttribute('data-playfabid'));
            const playfabIdString = playfabIds.join(',');
            navigator.clipboard.writeText(playfabIdString).then(function() {
                alert('Copied to clipboard: ' + playfabIdString);
            }, function(err) {
                console.error('Could not copy text: ', err);
            });
        });

        document.getElementById('sendToProgressCharting').addEventListener('click', function() {
            const selectedCheckboxes = document.querySelectorAll('.player-checkbox:checked');
            const playfabIds = Array.from(selectedCheckboxes).map(cb => cb.getAttribute('data-playfabid'));
            const playfabIdString = playfabIds.join('%2C');
            const url = `https://chivstats.xyz/leaderboards/player_progress/?playfabids=${playfabIdString}`;
            window.location.href = url;
        });
    </script>
{% endblock %}
