{% extends 'leaderboards/base.html' %}

{% block content %}
<script>
    function sortTable(tableId, columnIndex, dataType) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById(tableId);
        switching = true;
        dir = "asc";
    
        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("TR");
    
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[columnIndex];
                y = rows[i + 1].getElementsByTagName("TD")[columnIndex];
    
                if (dataType === 'numeric') {
                    if (dir == "asc") {
                        if (parseFloat(x.innerHTML) > parseFloat(y.innerHTML)) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (parseFloat(x.innerHTML) < parseFloat(y.innerHTML)) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                } else {
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;      
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
    </script>
    
    <h1>Ranked Combat Leaderboard</h1>
    <p>Live Leaderboards based on <a href="{% url 'leaderboards:about_elo' %}">ELO rating</a> results from <a href="https://discord.gg/chiv2unchained" target="_blank" rel="noopener noreferrer">discord</a> Ranked Combat participants.</p>
    <h2>Duels (1v1)</h2>
    <div class="pagination">
    {% if ranked_players_page.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ ranked_players_page.previous_page_number }}">Previous</a>
    {% endif %}
    <span>Page {{ ranked_players_page.number }} of {{ ranked_players_page.paginator.num_pages }}</span>
    {% if ranked_players_page.has_next %}
        <a href="?page={{ ranked_players_page.next_page_number }}">Next</a>
        <a href="?page={{ ranked_players_page.paginator.num_pages }}">Last</a>
    {% endif %}
</div>

<table class="table table-striped" id="rankedCombatTable">
    <thead>
        <tr>
            <th onclick="sortTable('rankedCombatTable', 0, 'numeric')">Rank <i class="bi bi-arrow-down-up"></i></th>
            <th onclick="sortTable('rankedCombatTable', 1, 'string')">Player <i class="bi bi-arrow-down-up"></i></th>
            <th onclick="sortTable('rankedCombatTable', 2, 'numeric')">ELO Rating <i class="bi bi-arrow-down-up"></i></th>
            <th onclick="sortTable('rankedCombatTable', 3, 'numeric')">Matches <i class="bi bi-arrow-down-up"></i></th>
            <th onclick="sortTable('rankedCombatTable', 4, 'numeric')">Kills <i class="bi bi-arrow-down-up"></i></th>
            <th onclick="sortTable('rankedCombatTable', 5, 'numeric')">Deaths <i class="bi bi-arrow-down-up"></i></th>
        </tr>
    </thead>
    <tbody>
        {% for player in players_data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'leaderboards:player_profile' player.playfabid %}">{{ player.common_name }}</a></td>
            <td>{{ player.elo_rating }}</td>
            <td>{{ player.matches }}</td>
            <td>{{ player.kills }}</td>
            <td>{{ player.deaths }}</td>
        </tr>
        {% endfor %}        
    </tbody>
</table>
<br><br>
<h2>Duos (2v2)</h2>

<table class="table table-striped" id="duoTeamsTable">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Team Name</th>
            <th>ELO Rating</th>
            <th>Matches Played</th>
            <th>Player 1</th>
            <th>Player 2</th>
        </tr>
    </thead>
    <tbody>
        {% for duo_team in duo_teams_data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ duo_team.team_name }}</td>
            <td>{{ duo_team.elo_rating }}</td>
            <td>{{ duo_team.matches_played }}</td>
            <td>{{ duo_team.player1_name }}</td>
            <td>{{ duo_team.player2_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br><br>
<h2>LTS (5v5+)</h2>
<br><br>
{% endblock %}
