{% extends 'leaderboards/base.html' %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EQG3BMRF63"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-EQG3BMRF63');
</script>

{% block content %}
<h1>Current Chivalry 2 Server List Games</h1>
<br>
This data is currently updated every 10 minutes. Click a column to sort on it.<br>
Players: <b>{{ data.Data.PlayerCount }}</b>  Games: {{ data.Data.GameCount }}  (Populated: <b>{{ populated_server_count }}</b>)<br>
<label for="regionFilter">Filter by Region: </label>
<select id="regionFilter">
  <option value="all">All</option>
  <option value="NA">North America (NA)</option>
  <option value="OTHER">EU + Other</option>
</select>
<br>
<!-- Table -->
<table class="table table-striped" id="sortableTable">
  <!-- Headers -->
  <thead>
    <tr>
      <th onclick="sortTable(0, 'sortableTable')">Lobby Id</th>
      <th onclick="sortTable(1, 'sortableTable')">Region</th>
      <th onclick="sortTable(2, 'sortableTable')" style="min-width: 500px;">Server Name</th>
      <th onclick="sortTable(3, 'sortableTable')">Max Players</th>
      <th onclick="sortTable(4, 'sortableTable')">Connected Players</th>
      <th onclick="sortTable(5, 'sortableTable')">Game Mode</th>
      <th onclick="sortTable(6, 'sortableTable')">Map Name</th>
      <th onclick="sortTable(8, 'sortableTable')">Location</th>
      <th onclick="sortTable(10, 'sortableTable')">Server Port</th>
      <th onclick="sortTable(14, 'sortableTable')">PingPort_i</th>
      <th onclick="sortTable(15, 'sortableTable')">QueryPort_i</th>
      <th onclick="sortTable(11, 'sortableTable')">OFFICIAL_b</th>
      <th onclick="sortTable(12, 'sortableTable')">Platform_s</th>
      <th onclick="sortTable(16, 'sortableTable')">T0_c</th>
      <th onclick="sortTable(18, 'sortableTable')">t1_c</th>
      <th onclick="sortTable(19, 'sortableTable')">MTIM_i</th>
    </tr>
  </thead>
  <tbody>
    <!-- Rows -->
    {% for game in data.Data.Games %}
    <tr>
      <td>{{ game.LobbyId }}</td>
      <td>{{ game.Tags.Region_s }}</td>
      <td>{{ game.Tags.ServerName_s }}</td>
      <td>{{ game.MaxPlayers }}</td>
      <td>{{ game.PlayerUserIds|length }}</td>
      <td>{{ game.GameMode }}</td>
      <td>{{ game.Tags.MapName_s }}</td>
      <td>{{ game.Location }}</td>
      <td>{{ game.ServerPort }}</td>
      <td>{{ game.Tags.PingPort_i }}</td>
      <td>{{ game.Tags.QueryPort_i }}</td>
      <td>{{ game.Tags.OFFICIAL_b }}</td>
      <td>{{ game.Tags.Platform_s }}</td>
      <td>{{ game.Tags.T0_c }}</td>
      <td>{{ game.Tags.t1_c }}</td>
      <td>{{ game.Tags.MTIM_i }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
    function sortTable(n, tableId) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById(tableId);
    switching = true;
    dir = "asc";
    while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            // Check if the two rows should switch place, based on the direction, asc or desc:
            if (!isNaN(x.innerHTML) && !isNaN(y.innerHTML)) {
                // If numerical values
                if (dir == "asc") {
                    if (Number(x.innerHTML) > Number(y.innerHTML)) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (Number(x.innerHTML) < Number(y.innerHTML)) {
                        shouldSwitch = true;
                        break;
                    }
                }
            } else {
                // If string values
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount++;
        } else {
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
        }
    }
    }

    document.addEventListener('DOMContentLoaded', (event) => {
      const regionFilter = document.getElementById('regionFilter');
      const table = document.getElementById('sortableTable');
      regionFilter.addEventListener('change', function() {
        const selectedRegion = this.value;
        for (let i = 1; i < table.rows.length; i++) {
          const row = table.rows[i];
          const regionCell = row.cells[1].innerText;
          if (selectedRegion === 'all') {
            row.style.display = '';
          } else if (selectedRegion === 'NA' && regionCell.startsWith('na-')) {
            row.style.display = '';
          } else if (selectedRegion === 'OTHER' && !regionCell.startsWith('na-')) {
            row.style.display = '';
          } else {
            row.style.display = 'none';
          }
        }
      });

    });
    </script>
    

{% endblock %}

