{% extends 'leaderboards/base.html' %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EQG3BMRF63"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-EQG3BMRF63');
</script>

{% block content %}
<h1>Current Chivalry 2 Server List Games</h1>
<br>
This data is currently updated every 10 minutes. Click a column to sort on it. 3<br>
Players: <b>{{ data.Data.PlayerCount }}</b>  Games: {{ data.Data.GameCount }}  (Populated: <b>{{ populated_server_count }}</b>)<br>
<label for="regionFilter">Filter by Region: </label>
<select id="regionFilter">
  <option value="all">All</option>
  <option value="NA">North America (NA)</option>
  <option value="OTHER">EU + Other</option>
</select>
<br>
<!-- Table -->
<table class="table table-striped" id="sortableTable">
  <!-- Headers -->
  <thead>
    <tr>
      <th onclick="sortTable(0, 'numeric')">Lobby Id <i class="bi bi-arrow-down-up"></i></th>
      <th onclick="sortTable(1, 'string')">Region <i class="bi bi-arrow-down-up"></i></th>
      <th onclick="sortTable(2, 'string')" style="min-width: 500px;">Server Name <i class="bi bi-arrow-down-up"></i></th>
      <th onclick="sortTable(3, 'numeric')">Max Players <i class="bi bi-arrow-down-up"></i></th>
      <th onclick="sortTable(4, 'numeric')">Connected Players <i class="bi bi-arrow-down-up"></i></th>
      <th onclick="sortTable(5, 'string')">Game Mode <i class="bi bi-arrow-down-up"></i></th>
      <th onclick="sortTable(6, 'string')">Map Name <i class="bi bi-arrow-down-up"></i></th>
      <th onclick="sortTable(7, 'string')">Location <i class="bi bi-arrow-down-up"></i></th>
      <th onclick="sortTable(8, 'ip')">IPV4 Address <i class="bi bi-arrow-down-up"></i></th>
      <th onclick="sortTable(9, 'numeric')">Server Port <i class="bi bi-arrow-down-up"></i></th>
      <th onclick="sortTable(10, 'numeric')">PingPort_i <i class="bi bi-arrow-down-up"></i></th>
      <th onclick="sortTable(11, 'numeric')">QueryPort_i <i class="bi bi-arrow-down-up"></i></th>
      <th onclick="sortTable(12, 'string')">OFFICIAL_b <i class="bi bi-arrow-down-up"></i></th>
      <th onclick="sortTable(13, 'string')">Platform_s <i class="bi bi-arrow-down-up"></i></th>
      <th onclick="sortTable(14, 'string')">T0_c <i class="bi bi-arrow-down-up"></i></th>
      <th onclick="sortTable(15, 'string')">t1_c <i class="bi bi-arrow-down-up"></i></th>
      <th onclick="sortTable(16, 'numeric')">Match Timer <i class="bi bi-arrow-down-up"></i></th>
    </tr>
  </thead>
  <tbody>
    <!-- Rows -->
    {% for game in data.Data.Games %}
    <tr>
      <td>{{ game.LobbyId }}</td>
      <td>{{ game.Tags.Region_s }}</td>
      <td>{{ game.Tags.ServerName_s }}</td>
      <td>{{ game.MaxPlayers }}</td>
      <td>{{ game.PlayerUserIds|length }}</td>
      <td>{{ game.GameMode }}</td>
      <td>{{ game.Tags.MapName_s }}</td>
      <td>{{ game.Location }}</td>
      <td>{{ game.ServerIPV4Address }}</td>
      <td>{{ game.ServerPort }}</td>
      <td>{{ game.Tags.PingPort_i }}</td>
      <td>{{ game.Tags.QueryPort_i }}</td>
      <td>{{ game.Tags.OFFICIAL_b }}</td>
      <td>{{ game.Tags.Platform_s }}</td>
      <td>{{ game.Tags.T0_c }}</td>
      <td>{{ game.Tags.t1_c }}</td>
      <td>{{ game.Tags.MTIM_i }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Include Bootstrap Icons CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">

<script>
  function sortTable(columnIndex, dataType) {
      var table = document.getElementById("sortableTable");
      var switching = true;
      var dir = "asc";
      var switchcount = 0;
      var currentDirIcon = dir === 'asc' ? 'bi-arrow-down' : 'bi-arrow-up';

      // Update icons on all headers
      var headers = table.getElementsByTagName("TH");
      for (var k = 0; k < headers.length; k++) {
        var icon = headers[k].getElementsByTagName("I")[0];
        if (icon) {
          icon.className = k === columnIndex ? `bi ${currentDirIcon}` : 'bi bi-arrow-down-up';
        }
      }

      while (switching) {
          switching = false;
          var rows = table.rows;

          for (var i = 1; i < (rows.length - 1); i++) {
              var shouldSwitch = false;
              var x = rows[i].getElementsByTagName("TD")[columnIndex];
              var y = rows[i + 1].getElementsByTagName("TD")[columnIndex];

              if (dataType === 'numeric') {
                  if ((dir === "asc" && Number(x.innerHTML) > Number(y.innerHTML)) ||
                      (dir === "desc" && Number(x.innerHTML) < Number(y.innerHTML))) {
                      shouldSwitch = true;
                  }
              } else if (dataType === 'ip') {
                  var ipA = convertIPtoNumber(x.innerHTML);
                  var ipB = convertIPtoNumber(y.innerHTML);
                  if ((dir === "asc" && ipA > ipB) || (dir === "desc" && ipA < ipB)) {
                      shouldSwitch = true;
                  }
              } else {
                  if ((dir === "asc" && x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) ||
                      (dir === "desc" && x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase())) {
                      shouldSwitch = true;
                  }
              }

              if (shouldSwitch) {
                  rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                  switching = true;
                  switchcount++;
              } else if (switchcount == 0 && dir === "asc") {
                  dir = "desc";
                  switching = true;
              }
          }
      }
  }

  function convertIPtoNumber(ip) {
      return ip.split('.').reduce(function(ipInt, octet) {
          return (ipInt << 8) + parseInt(octet, 10);
      }, 0) >>> 0;
  }

  document.addEventListener('DOMContentLoaded', (event) => {
      const regionFilter = document.getElementById('regionFilter');
      const table = document.getElementById('sortableTable');
      regionFilter.addEventListener('change', function() {
          const selectedRegion = this.value;
          for (let i = 1; i < table.rows.length; i++) {
              const row = table.rows[i];
              const regionCell = row.cells[1].innerText;
              row.style.display = (selectedRegion === 'all' || 
                                   (selectedRegion === 'NA' && regionCell.startsWith('na-')) || 
                                   (selectedRegion === 'OTHER' && !regionCell.startsWith('na-'))) ? '' : 'none';
          }
      });
  });
</script>


{% endblock %}
