{% extends 'leaderboards/base.html' %}

{% block content %}
<h1>Metastats: Top Gainers Leaderboards</h1>
<br>aThis is a test leaderboard system, a sum of the total score gained per rolling time period. Initial queries may take ~30sec. 
<br>
{% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
{% endif %}
<!-- Form for selecting time period and table name -->
<br>
<form method="get" action="">
    <label for="table_name">Leaderboard:</label>
    <select name="table_name">
        {% for table, friendly_name in table_names %}
        <option value="{{ table }}" {% if table == table_name %}selected{% endif %}>{{ friendly_name }}</option>
        {% endfor %}
    </select>
    <label for="time_period">  Rolling Timeframe:</label>
    <select name="time_period" id="time_period">
        <option value="2" {% if time_period == "2" %}selected{% endif %}>2 days</option>
        <option value="7" {% if time_period == "7" %}selected{% endif %}>7 days</option>
        <option value="14" {% if time_period == "14" %}selected{% endif %}>14 days</option>
        <option value="30" {% if time_period == "30" %}selected{% endif %}>30 days</option>
        <option value="all_time" {% if time_period == "all_time" %}selected{% endif %}>All Time Total</option>
    </select>
    
    <input type="submit" value="Update Leaderboard View">
</form>
<button id="selectAll" class="btn btn-info">Select All</button>
<button id="copyToClipboard" class="btn btn-primary">Copy Selected IDs to Clipboard</button>
<button id="sendToProgressCharting" class="btn btn-success">Send to Progress Charting</button>


<br>
<h4>{% for table, friendly_name in table_names %}
    {% if table == table_name %}
        <b>{{ friendly_name }}</b>
    {% endif %}
{% endfor %} 
in the previous <b>{{ time_period }} days</b>.</h4>

<div class="d-flex justify-content-center">
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info" href="?page=1&table_name={{ table_name }}&time_period={{ time_period }}">First</a>
        <a class="btn btn-outline-info" href="?page={{ page_obj.previous_page_number }}&table_name={{ table_name }}&time_period={{ time_period }}">Previous</a>
    {% endif %}
    <span class="current-page d-inline-block h-100 pl-4 text-secondary"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
        <a class="btn btn-outline-info" href="?page={{ page_obj.next_page_number }}&table_name={{ table_name }}&time_period={{ time_period }}">Next</a>
        <a class="btn btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}&table_name={{ table_name }}&time_period={{ time_period }}">Last</a>
    {% endif %}
</div>

<!-- Table for displaying leaderboard -->
<table class="table table-striped" id="leaderboardTable">
    <thead>
        <tr>
            <th style="width: 30px;">Select</th>
            <th style="width: 50px;">Rank</th>
            <th style="width: 300px;">Player</th>
            <th>Raw Gain</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in leaderboard_data %}
        <tr>
            <td><input type="checkbox" class="player-checkbox" data-playfabid="{{ entry.playfabid }}"></td>
            <td>{{ forloop.counter }}</td>
            <td><a href="https://chivstats.xyz/leaderboards/player/{{ entry.playfabid }}/">{{ entry.most_common_alias }}</a></td>
            <td>{{ entry.total_gain }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="d-flex justify-content-center">
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info" href="?page=1&table_name={{ table_name }}&time_period={{ time_period }}">First</a>
        <a class="btn btn-outline-info" href="?page={{ page_obj.previous_page_number }}&table_name={{ table_name }}&time_period={{ time_period }}">Previous</a>
    {% endif %}
    <span class="current-page d-inline-block h-100 pl-4 text-secondary"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
        <a class="btn btn-outline-info" href="?page={{ page_obj.next_page_number }}&table_name={{ table_name }}&time_period={{ time_period }}">Next</a>
        <a class="btn btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}&table_name={{ table_name }}&time_period={{ time_period }}">Last</a>
    {% endif %}
</div>
<script>
    // Select All functionality
    document.getElementById('selectAll').addEventListener('click', function() {
        document.querySelectorAll('.player-checkbox').forEach(function(checkbox) {
            checkbox.checked = true;
        });
    });

    // Copy to Clipboard functionality
    document.getElementById('copyToClipboard').addEventListener('click', function() {
        const selectedCheckboxes = document.querySelectorAll('.player-checkbox:checked');
        const playfabIds = Array.from(selectedCheckboxes).map(cb => cb.getAttribute('data-playfabid'));
        const playfabIdString = playfabIds.join(',');
        navigator.clipboard.writeText(playfabIdString).then(function() {
            alert('Copied to clipboard: ' + playfabIdString);
        }, function(err) {
            console.error('Could not copy text: ', err);
        });
    });

    // Send to Progress Charting functionality
    document.getElementById('sendToProgressCharting').addEventListener('click', function() {
        const selectedCheckboxes = document.querySelectorAll('.player-checkbox:checked');
        const playfabIds = Array.from(selectedCheckboxes).map(cb => cb.getAttribute('data-playfabid'));
        const playfabIdString = playfabIds.join('%2C'); // Encoded comma for URL
        const url = `https://chivstats.xyz/leaderboards/player_progress/?playfabids=${playfabIdString}`;
        window.location.href = url;
    });
</script>

{% endblock %}
