{% extends 'leaderboards/base.html' %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EQG3BMRF63"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EQG3BMRF63');
</script>

{% block content %}
<h1>Top Gainers Leaderboard</h1>
<br>
<p>Latest update: {{ latest_update|date:"F j, Y, P T" }}</p>
<br>

<!-- Form for selecting time period and table name -->
<form method="get" action="">
    <label for="time_period">Select Time Period:</label>
    <select name="time_period" id="time_period">
        <option value="7">7 days</option>
        <option value="14">14 days</option>
        <option value="30">30 days</option>
        <option value="30">2 days</option>
    </select>

    <label for="table_name">Select Table:</label>
    <select name="table_name">
            <option value="globalxp">Global XP</option>
            <option value="playtime">Playtime</option>
            <option value="playtimeex">Playtime Ex</option>
            <option value="dailyplaytime">Daily Playtime</option>
            <option value="experiencearcher">Experience Archer</option>
            <option value="experiencefootman">Experience Footman</option>
            <option value="experiencevanguard">Experience Vanguard</option>
            <option value="experienceknight">Experience Knight</option>
            <option value="experienceweaponmorningstar">Experience Weapon Morning Star</option>
            <option value="experienceweaponheavycavalrysword">Experience Weapon Heavy Cavalry Sword</option>
            <option value="experienceweaponthrowingmallet">Experience Weapon Throwing Mallet</option>
            <option value="experienceweapondagger">Experience Weapon Dagger</option>
            <option value="experienceweaponmediumshield">Experience Weapon Medium Shield</option>
            <option value="experienceweaponheavyshield">Experience Weapon Heavy Shield</option>
            <option value="experienceweaponwarbow">Experience Weapon War Bow</option>
            <option value="experienceweaponshovel">Experience Weapon Shovel</option>
            <option value="experienceweaponquarterstaff">Experience Weapon Quarterstaff</option>
            <option value="experienceweaponrapier">Experience Weapon Rapier</option>
            <option value="experienceweaponwarhammer">Experience Weapon War Hammer</option>
            <option value="experienceweaponthrowingaxe">Experience Weapon Throwing Axe</option>
            <option value="experienceweaponexecutionersaxe">Experience Weapon Executioner's Axe</option>
            <option value="experienceweaponcrossbow">Experience Weapon Crossbow</option>
            <option value="experienceweaponpolehammer">Experience Weapon Pole Hammer</option>
            <option value="experienceweaponaxe">Experience Weapon Axe</option>
            <option value="experienceweaponheavymace">Experience Weapon Heavy Mace</option>
            <option value="experienceweaponbow">Experience Weapon Bow</option>
            <option value="experienceweaponknife">Experience Weapon Knife</option>
            <option value="experienceweaponpickaxe">Experience Weapon Pick Axe</option>
            <option value="experienceweaponcudgel">Experience Weapon Cudgel</option>
            <option value="experienceweaponfalchion">Experience Weapon Falchion</option>
            <option value="experienceweaponwarclub">Experience Weapon War Club</option>
            <option value="experienceweaponspear">Experience Weapon Spear</option>
            <option value="experienceweaponshortsword">Experience Weapon Short Sword</option>
            <option value="experienceweapononehandedspear">Experience Weapon One-Handed Spear</option>
            <option value="experienceweaponlance">Experience Weapon Lance</option>
            <option value="experienceweaponbattleaxe">Experience Weapon Battle Axe</option>
            <option value="experienceweaponglaive">Experience Weapon Glaive</option>
            <option value="experienceweaponmace">Experience Weapon Mace</option>
            <option value="experienceweaponhalberd">Experience Weapon Halberd</option>
            <option value="experienceweaponhighlandsword">Experience Weapon Highland Sword</option>
            <option value="experienceweaponpoleaxe">Experience Weapon Pole Axe</option>
            <option value="experienceweaponkatars">Experience Weapon Katars</option>
            <option value="experienceweaponmaul">Experience Weapon Maul</option>
            <option value="experienceweapondaneaxe">Experience Weapon Dane Axe</option>
            <option value="experienceweaponbastardsword">Experience Weapon Bastard Sword</option>
            <option value="experienceweaponjavelin">Experience Weapon Javelin</option>
            <option value="experienceweapongreatsword">Experience Weapon Greatsword</option>
            <option value="experienceweaponsword">Experience Weapon Sword</option>
            <option value="experienceweaponsledgehammer">Experience Weapon Sledge Hammer</option>
            <option value="experienceweaponlightshield">Experience Weapon Light Shield</option>
            <option value="experienceweapontwohandedhammer">Experience Weapon Two-Handed Hammer</option>
            <option value="experienceweaponhatchet">Experience Weapon Hatchet</option>
            <option value="experienceweaponwaraxe">Experience Weapon War Axe</option>
            <option value="experienceweaponthrowingknife">Experience Weapon Throwing Knife</option>
            <option value="experienceweaponmesser">Experience Weapon Messer</option>
            <option value="experienceweaponheavycrossbow">Experience Weapon Heavy Crossbow</option>
        </select>      

    <input type="submit" value="Update Leaderboard">
</form>

<br>

<!-- Pagination at the top -->
<div class="d-flex justify-content-center">
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info" href="?page=1">First</a>
        <a class="btn btn-outline-info" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <span class="current-page d-inline-block h-100 pl-4 text-secondary"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
        <a class="btn btn-outline-info" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
</div>

<!-- Table for displaying leaderboard -->
<table class="table table-striped" id="leaderboardTable">
    <thead>
        <tr>
            <th>Position</th>
            <th>PlayFab ID</th>
            <th>Total Gain</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in leaderboard_data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="https://chivstats.xyz/leaderboards/player/{{ entry.playfabid }}/">{{ entry.most_common_alias }}</a></td>
            <td>{{ entry.total_gain }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- Pagination at the bottom -->
<div class="d-flex justify-content-center">
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info" href="?page=1">First</a>
        <a class="btn btn-outline-info" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <span class="current-page d-inline-block h-100 pl-4 text-secondary"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
        <a class="btn btn-outline-info" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
</div>
{% endblock %}
